@media (min-width: 1200px) {
	.election-container {
		max-width: 960px;
	}
}

#campaigndropdown .selected {
	background: gray;
}

#xmpp {
	font-size: large;
}

#xmpp h2, h3 {
	margin: 50px 0 30px;
}

#xmpp h4 {
	margin: 25px 0 15px;
}

#xmpp .last {
	margin-bottom: 50px;
}

#sitefooter {
	max-width: 100%;
}

@media screen and (min-width: 599px) {
	#xmpp {
		padding-right: 50px;
	}
}