@media (min-width: 1200px) {
	.election-container {
		max-width: 960px;
	}
}

#election {
	font-size: large;
}

#election h3 {
	margin: 50px 0 30px;
}

#election h4 {
	margin: 25px 0 15px;
}

@media screen and (min-width: 600px) {

	#election {
		padding-right: 50px;
	}

	#election .last {
		margin-bottom: 50px;
	}

}

@media screen and (max-width: 599px) {

	#election .last {
		margin-bottom: 100px;
	}

	#sitefooter {
		margin-bottom: 50px;
	}

}